<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}auto-listings.net{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'listings:listing_list' %}">auto-listings.net</a>
        <a href="{% url 'listings:vehicle_create' %}">Sell Your Car</a>
    </nav>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
